@media (max-width: 767px) {
  .logo {
    width: 50%;
    margin-left: 0%;
    box-sizing: content-box;
    vertical-align: left;
  }
}

/* 搜索框 */

.center-search-container {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  padding: 0 48px 0 4px;
  margin-top: 20px;
  border-radius: 8px;
  margin-left: 18%;
  border: 2px solid #000000;
  background-color: #ffffff;
}

.center-search-container:hover {
  background-color: #f8f8f8;
}

.center-search-container .nav-search-content {
  display: flex;
  height: 20px;
  width: 100%;
  padding: 0 8px;
}

.nav-search-content .nav-search-input {
  flex: 1;
  background-color: transparent;
  line-height: 20px;
  overflow: hidden;
}

.center-search-container .nav-search-button {
  position: absolute;
  top: 3px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.center-search-container .nav-search-button:hover {
  background-color: #cbcbcb;
}

.form-input {
  flex: 1;
  background-color: transparent;
  line-height: 20px;
  overflow: hidden;
}

/* END 搜索框 */

.git {
  flex: 1;
  text-align: right;
}

.github {
  display: flex;
  margin-bottom: 10px;
}

.signin {
  display: flex;
  align-items: center;
  margin: 28px;
  padding: 6px 12px 4px 12px;
  border-radius: 10px;
  background-color: #fb7299;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
}

.svg-signin {
  padding-right: 3px;
}

.signin:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #ffffff;
}

a.title {
  font-weight: 600;
}

a.title:hover {
  transform: scale(1.05);
  cursor: pointer;
}

a.title:hover i,
a.title:hover span {
  color: #fb7299;
}

.text-gray {
  font-weight: 700;
  transition: color 0.3s;
}

.text-gray:hover {
  cursor: pointer;
  color: #fb7299;
}

.navbar {
  height: 80px;
}

footer.main-footer {
  height: 70px;
  padding: 15px 20px;
}

/* 滚动公告条 */

.announcement {
  border: 2px solid #767676;
  padding: 5px 10px;
  margin-bottom: 10px;
  width: 30%;
  height: 30px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.marquee {
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee p {
  color: #000000;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
/* END 滚动公告条 */

/* 侧边固定内容条 */

.side-bar {
  position: fixed;
  bottom: 80px;
  right: 12px;
}

.primary-btn {
  width: 52px;
  height: 52px;
  margin-top: 6px;
  padding: 6px 0 4px;
  box-sizing: border-box;
  border: 1px solid #e3e5e7;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primary-btn:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  box-shadow: 0 2px 5px 0 rgba(0, 36, 100, 0.3);
  transition: all 0.3s ease;
}

.side-bar-text {
  padding-top: 4px;
}

/* END 侧边固定内容条 */